@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.card{
    max-width: 349px;
    background-color: var(--neutral-medium);
    border-radius: 15px;
    padding: 25px;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.title-link .title{
    font-size: 22px;
    color: #ffffff;
    padding-top: 20px;
    transition: .5s;
}

.title-link .title:hover{
    color: var(--primary-medium);
}

.about{
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-soft);
    padding-top: 18px;
    line-height: 26px;
}

.information{
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
}

.information .value{
    font-size: 16px;
    color: var(--primary-medium);
}

.information .days{
    font-size: 16px;
    color: var(--primary-soft);
}

.creator{
    padding-top: 18px;
    border-top: 1px solid var(--primary-soft);
    display: flex;  
    align-items: center;
}

.creator .avatar{
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

.creator .creator-name{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 300;
    color: var(--primary-soft);
}

.creator .creator-name .name{
    color: #ffffff;
    transition:.5s;
}

.creator .creator-name .name:hover{
    color: var(--primary-medium);   
}